<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    FerryTimes
  </title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row center yellow">
      <div class="jumbotron">
        <h1>FerryTimes</h1>
        <p class="lead">The only public BC ferries API</p>
        <p class="lead"><a href="https://github.com/samuel-pratt/ferry-times-api/">GitHub</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-lg-2 col-md-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h1 class="center">
          Try it now!
        </h1>
        <div class="input-group">
          <span class="input-group-addon">https://www.ferrytimes.ca/api/</span>
          <input id="interactive" type="text" class="form-control" placeholder="tsawwassen/swartz-bay">
          <span class="input-group-btn"><button onClick="interactive_call();return false;"
              class="btn btn-primary">request</button></span>
        </div>
        <small>Need a hint? try <a href="#" onClick="update('tsawwassen/');return false;"><i>tsawwassen/</i></a> or <a
            href="#"
            onClick="update('nanaimo-(dep.bay)/horseshoe-bay/');return false;"><i>nanaimo-(dep.bay)/horseshoe-bay/</i></a></small>
        <p class="lead pad_top">Result:</p>
        <div class="well">
          <pre id="interactive_output" class="pre-scrollable">Send a request to see the response here!</pre>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-2">
      </div>
    </div>
    <div class="row pad_bot">
      <div class="col-sm-1 col-lg-1 col-md-1">
      </div>
      <div class="col-sm-3 col-lg-3 col-md-3">
        <h4 class="center">What is this?</h4>
        <p>The FerryTimes API is the only free and open source API for retrieving BC Ferries route info, times, and
          waits.</p>
      </div>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <h4 class="center">How can I use it?</h4>
        <p>All the data is accessible through our HTTP web API. Consult the <a
            href="https://github.com/samuel-pratt/ferry-times-api/blob/master/README.md">ReadMe</a> if you'd like to get
          started.</p>
      </div>
      <div class="col-sm-3 col-lg-3 col-md-3">
        <h4 class="center">Is there an issue?</h4>
        <p>If something isn't working, submit an issue <a
            href="https://github.com/samuel-pratt/ferry-times-api/issues/new">on GitHub</a></p>
      </div>
      <div class="col-sm-1 col-lg-1 col-md-1">
      </div>
    </div>
    <script>
      function update(call) {
        jQuery('#interactive').val(call);
        interactive_call();
      }

      function interactive_call() {
        var content = jQuery('#interactive').val()
        var call_url = 'api/' + content;
        jQuery.ajax({
          dataType: 'json',
          url: call_url,
          context: document.body
        }).complete(function (data) {
          if (data['status'] == 200) {
            var d = jQuery.parseJSON(data['responseText']);
            jQuery('#interactive_output').text(JSON.stringify(d, null, '\t'));
          } else if (data['status'] == 404) {
            jQuery('#interactive_output').text(data['status'] + ' ' + data['statusText']);
          }
        });
      }
    </script>
  </div>
</body>

</html>